<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <title> Jeu de GO - MIMO </title>
	
	<!-- librairies*/ -->
    <script src="static/js/libs/jquery-2.0.1.min.js"></script>
    <script src="static/js/libs/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="static/js/variables.js"></script>
    <script type="text/javascript" src="static/js/helper.js"></script>
    <script type="text/javascript" src="static/js/goban.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
	<script type="text/javascript" src="static/js/gobanView.js"></script>
	<script type="text/javascript" src="static/js/stone.js"></script>
	<script type="text/javascript" src="static/js/go.js"></script>
	<script type="text/javascript" src="static/js/jouer.js"></script>
	<script type="text/javascript" src="static/js/sidebar.js"></script>
	<script type="text/javascript" src="static/js/menu.js"></script>
	<script type="text/javascript" src="static/js/regles.js"></script>

    <link rel="stylesheet" href="static/css/buttons.css">
	<link rel="stylesheet" href="static/css/custom.css" />
    <link rel="stylesheet" href="static/css/bootstrap.min.css" />
</head>

<body>
    <script type="text/javascript">
        main();
    </script>
</body>
